name: gen3_workflow CI

on:
    push:
        branches:
            - master
            - u/jchiang/gen3_scripts

    pull_request:
        branches:
            - master
            - u/jchiang/gen3_scripts

jobs:
    build:
        runs-on: ${{ matrix.os }}

        strategy:
            matrix:
                os: [ ubuntu-latest ]
                py: [ "3.11" ]
                CC: [ gcc ]
                CXX: [ g++ ]

        defaults:
            run:
                # cf. https://github.com/conda-incubator/setup-miniconda#important
                shell: bash -l {0}

        steps:
            - uses: actions/checkout@v2

            - name: Setup conda
              uses: conda-incubator/setup-miniconda@v2
              with:
                  activate-environment: stack
                  python-version: "3.11"
                  condarc-file: etc/.condarc

            - name: Install conda deps
              run: |
                conda info
                conda list
                conda install -y mamba
                mamba install -y --file conda_requirements.txt
                conda info
                conda list

            - name: Install workflow packages
              run: |
                pip install -U --no-deps 'parsl[monitoring,workqueue] @ git+https://github.com/parsl/parsl@desc'
                pip install typeguard tblib paramiko dill pyzmq globus-sdk sqlalchemy_utils
                conda install -c conda-forge ndcctools=7.6.1=py311h689c632_0 --no-deps

            - name: Clone the package and checkout the branch
              shell: bash -l {0}
              run: |
                git clone https://github.com/${GITHUB_REPOSITORY}
                eups declare gen3_workflow -r ${PWD}/gen3_workflow -t current
                cd gen3_workflow
                git fetch origin ${GITHUB_REF}:TESTING
                git checkout TESTING

            - name: Run the test pipelines
              run: |
                setup gen3_workflow
                (eups list lsst_distrib) 2>&1 | grep -v "Unknown tag"
                (eups list gen3_workflow) 2>&1 | grep -v "Unknown tag"
                cd tests
                pytest test_query_workflow.py test_bps_restart.py
